.pf_list {
	padding-top: 150px;
	.tab {
		position:relative;
		margin-bottom:30px;
		ul {
			display:flex;
			li {
				border-bottom:3px solid transparent;
				& ~ li {
					margin-left:20px;
				}
				a {
					display:block;
					font-size:20px;
					font-weight:700;
					color:#000;
					opacity:.4;
				}
				&.active {
					border-color:$primary;
					a {

						opacity:1;
					}
				}
			}
		}
	}
}

.cards {
	display:flex;
	flex-wrap:wrap;
	gap:30px 20px;

	& .card {
		width:calc(33.33% - 14px);

		&_inner {
			position: relative;
			height:270px;
			background-color:#fff;
			transition:.5s;
			transition-delay:.2s;
			border-radius:15px;
			overflow: hidden;
			box-shadow:0 5px 8px 1px rgba($color: #000000, $alpha: .2);
			img {
				display:block;
				width:100%;
				height:100%;
				object-fit:cover;
				transition:.4s;
			}
			a::after {
				display: block;
				content: 'MORE';
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0; top: 0;
				background-color: rgba($color: #000000, $alpha: .5);
				transition: .4s;
				opacity: 0;
				color: #fff;
				font-size: 30px;
				font-weight: 700;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		&:hover{
			a::after {
				opacity: 1;
			}
			img{
				transform: scale(1.05);
			}
		}
		&_img {
			width:100%;
			height:100%;
			transition:.5s;
		}
		h3 {
			margin-top: 5px;
			font-size: 20px;
			font-weight: 700;
		}
		.tag {
			margin-top: 10px;
			display: flex;
			flex-wrap:wrap;
			gap:5px;
			li{
				// border:1px solid $primary;
				padding: 4px 5px;
				background-color: transparent;
				color: #fff;
				font-size: 13px;
				border-radius: 5px;
				font-weight: 600;
				&:nth-child(1) {
					background-color: #86756F;
				}
				&:nth-child(2) {
					background-color: #635149;
				}
				&:nth-child(3) {
					background-color: #4A5C59;
				}
			}
		}
	}
}
@media only screen and (max-width:1200px) {
	.pf_list {padding-top: 80px;}
	.cards {
		gap:30px;

		& .card {
			width:calc(50% - 15px);
			&_inner {
				height: 240px;
			}
			h3 {
				font-size: 18px;
			}
			.tag {
				li {
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
	}
}
@media only screen and (max-width:768px) {
	.pf_list {padding-top: 60px;}
	.cards {
		gap:30px;

		& .card {
			width:100%;
			max-width: 370px;
			&:nth-child(2n) {
				margin-left: auto;
			}
		}
	}
}